[cltl.chat-ui]
name: chat-ui
agent_id: leolani
external_input: True
timeout: 0

[cltl.template]
topic_in: cltl.topic.text_in
topic_out: cltl.topic.text_out
topic_scenario : cltl.topic.scenario

[cltl.chat-ui.events]
local: True
topic_utterance: cltl.topic.text_in
topic_response: cltl.topic.text_out
topic_scenario : cltl.topic.scenario
topic_desire : cltl.topic.desire

[cltl.context]
topic_scenario: cltl.topic.scenario

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2

[cltl.event_log]
log_dir: ./storage/event_log

[cltl.emissor-data]
path: ./storage/emissor

[cltl.emissor-data.event]
topics: cltl.topic.scenario, cltl.topic.text_in, cltl.topic.text_out

[environment]
GOOGLE_APPLICATION_CREDENTIALS: config/google_cloud_key.json
