# Utils
cachetools==4.2.4

# Numerics
numpy==1.24.2

# Audio/Video
# soundfile==0.10.3.post1
# opencv-python==4.8.0.76

# RDF support
rdflib==6.1.1

# REST/JSON/Messaging support
Flask==1.1.2
Werkzeug==2.0.3
tornado==5.1.1
jinja2==3.0.3
connexion==2.7.0
marshmallow==3.13.0
marshmallow-dataclass==8.4.1
marshmallow-enum==1.5.1
marshmallow-union==0.1.15.post1
typeguard==2.13.3
apispec[yaml]==4.0.0
asyncapi==0.14.0
PyYAML==5.3.1
typer==0.3.2
uvicorn==0.13.1
apidaora==0.28.0
markdown==3.3.3
kombu==5.0.2
simplejson==3.17.5
jsonpickle==2.1.0
itsdangerous==2.0.1

# Python
importlib_resources==5.2.2
mock==4.0.3
parameterized==0.8.1
tqdm==4.62.3

# Others
jellyfish==0.9.0

# Installation
wheel==0.40.0
setuptools-rust==1.7.0
setuptools_scm==8.0.4
setuptools==65.1.1
